div.row.featurette
  div.col-md-9
    h2.featurette-heading.featurette-heading1 Blinky-Lite Device Controllers - USB based microcontrollers
    h5.card1-major-bullet
      | USB based microcontrollers consists of both 
    ul
      li.card1-minor-bullet
        | a physical programmable circuit board (often referred to as a microcontroller) 
      li.card1-minor-bullet
        | and a piece of software, or IDE (Integrated Development Environment) that runs on a computer, used to write and upload computer code to the physical board.
    h5.card1-major-bullet
      | The platform has become quite popular with people just starting out with electronics
    ul
      li.card1-minor-bullet
        | Unlike most previous programmable circuit boards, the platform does not need a separate piece of hardware (called a programmer) in order to load new code onto the board – it us simply uploaded with an USB cable. 
      li.card1-minor-bullet
        | Additionally, most of these platforms us the Arduino IDE which is a simplified version of C++, making it easier to learn to program. 
      li.card1-minor-bullet
        | Finally, most of these platforms provide a standard form factor that breaks out the functions of the micro-controller into a more accessible package.
  div.col-md-3
    div.row
      div.col-md-6
        a(href='https://store.arduino.cc/usa/arduino-uno-rev3', target='_blank') Arduino Uno
        img(src='/img/readmore/uno.jpg',width='100%') 
      div.col-md-6
        a(href='https://store.arduino.cc/usa/arduino-nano', target='_blank') Arduino Nano
        img(src='/img/readmore/nano.jpg',width='100%') 
    div.row
      div.col-md-6
        a(href='https://store.arduino.cc/usa/arduino-mega-2560-rev3', target='_blank') Arduino Mega
        img(src='/img/readmore/mega.jpg',width='100%') 
      div.col-md-6
        a(href='https://www.adafruit.com/product/2771', target='_blank') AdaFruit Feather
        img(src='/img/readmore/adafruitFeather32u.jpg',width='100%') 
    div.row
      div.col-md-6
        a(href='https://www.pjrc.com/store/teensy36.html', target='_blank') Teensy 3.6
        img(src='/img/readmore/teensy36.jpg',width='100%') 
      div.col-md-6
        a(href='https://www.pjrc.com/store/teensy32.html', target='_blank') Teensy 3.2
        img(src='/img/readmore/teensy32.jpg',width='100%') 
hr.featurette-divider
