div.row.featurette
  div.col-md-3
    img(src='/img/readmore/mqtt.png',width='100%') 
  div.col-md-9
    h2.featurette-heading.featurette-heading1 
      | Blinky-Lite Communication Protocol - 
      a(href='http://mqtt.org/', target='_blank') MQTT
    h5.card1-major-bullet
      | A very popular IoT communication protocol is MQTT 
    ul
      li.card1-minor-bullet
        | Message Queue Telemetry Transport 
      li.card1-minor-bullet
        | ISO standard (ISO/IEC PRF 20922).  
    h5.card1-major-bullet
      | MQTT was invented by IBM in 1999 for connecting oil pipelines over satellite connection and is now an open source platform. 
    ul
      li.card1-minor-bullet
        | It is designed to be reliable, data-agnostic, and lightweight. 
      li.card1-minor-bullet
        | It is quickly becoming the protocol of choice for IoT.   

hr.featurette-divider
