div.row.featurette
  div.col-md-3
    img(src='/img/readmore/IoT.png',width='100%') 
  div.col-md-9
    h2.featurette-heading.featurette-heading1 The Internet of Things (IoT)
    h5.card1-major-bullet
      | Since 2010, a revolution has taken place outside the traditional controls community - the Internet of Things (IoT). 
    h5.card1-major-bullet
      | While IoT is often ridiculed as a “computer in every refrigerator and toaster”
    ul
      li.card1-minor-bullet
        | It has brought about an abundance of  low cost, high quality,  small form factor microcontrollers and computers.
      li.card1-minor-bullet
        | These powerful computers can be deployed almost anywhere as low cost quasi-state machines. 
      li.card1-minor-bullet
        | They consume on the order of  1  Watt of power and the built in wireless features  (2.4GHz 802.11n wireless and Bluetooth) minimizes the need for many control cables. 
hr.featurette-divider
