div.row.featurette
  div.col-md-3
    img(src='/img/readmore/future.jpg',width='100%') 
  div.col-md-9
    h2.featurette-heading.featurette-heading1 The Future
    h5.card1-major-bullet
      | The Ideal Control System Platform - : 
    ul
      li.card1-minor-bullet
        | is inexpensive and quickly deployable
      li.card1-minor-bullet
        | has a small  physical footprint 
      li.card1-minor-bullet
        | is easy to use and  debug so that the engineer can develop on her own without the assistance of experts.  
      li.card1-minor-bullet
        | is easily scalable from small projects to large interconnected projects.  
      li.card1-minor-bullet
        | is open and text based so that version history control is easy and encouraged.  
      li.card1-minor-bullet
        | is asy to share and collaborate.
    h5.card1-major-bullet
      | We think Blinky-Lite is a step in the right direction.
    h5.card1-major-bullet
      | We feel that Blinky-Lite has been successful enough to begin to share with others in the hope it could grow into something larger.
