div.row.featurette
  div.col-md-3
    img(src='/img/readmore/BadLabVIEW.PNG',width='100%') 
    p
    img(src='/img/readmore/s7Plc.jpeg',width='100%') 
  div.col-md-9
    h2.featurette-heading.featurette-heading1 The Problem
    h5.card1-major-bullet
      | Today’s high-tech startup companies often require careful monitoring and control of research processes
    h5.card1-major-bullet
      | Often currently available commercial control systems require
    ul
      li.card1-minor-bullet
        | much customization requiring advanced IT skills to implement
      li.card1-minor-bullet
        | large investment costs in hardware and software
      li.card1-minor-bullet
        | recurring costs in license maintenance 
    h5.card1-major-bullet
      | In addition, commercial control systems 
    ul
      li.card1-minor-bullet
        | are often proprietary 
      li.card1-minor-bullet
        | requiring significant costs in adapting control solutions to the rapidly changing needs of the a high-tech startup. 
    h5.card1-major-bullet
      | In response, 
    ul
      li.card1-minor-bullet
        | many high-tech startups avoid the headaches of automatic control and rely on staff to monitor and control research processes  
      li.card1-minor-bullet
        | which in the long run is unreliable and costly  
hr.featurette-divider
