extends layout
block content
  .container.bot-pad
    .card.card1
      h5.card-title.card1-title Contact Information 
      .card-body.card1-body
        .form-area
          form(role='form', method='POST', action='/contact')
            .form-group
              input#name.form-control(type='text', name='name', placeholder='Name', required='')
            .form-group
              input#email.form-control(type='text', name='email', placeholder='Email', required='')
            .form-group
              input#mobile.form-control(type='text', name='mobile', placeholder='Mobile Number', required='')
            .form-group
              input#subject.form-control(type='text', name='subject', placeholder='Subject', required='')
            .form-group
              textarea#message.form-control(type='textarea', rows='7', maxlength="141", name='message', placeholder='Message', required='')
            //button.btn.pull-right.index-page.card-button.card1-button(type='submit', name='submit') Submit Form
            button.btn.pull-right.index-page.card-button.card1-button(type='submit', onclick='myFunction()') Submit Form
        
  script.
    function myFunction() {
    alert("Your request has been sent to Top Men");
    }
