extends layout
block content
  .jumbotron.jumbotron1
    h1.display-5.jumbotron-title.jumbotron-title1 BLINKY-LITE
    h2.display-5.jumbotron-title.jumbotron-title1 Instrumentation for humans
    p.lead.
      Digital control is at the heart of all modern R&amp;D activities, 
      yet it remains opaque and excessively complex to all but the most 
      expert developers.
    p.lead.
      Blinky-Lite takes it out of the hands of the experts and gives controls back to you.
    p.lead.
      Blinky-Lite is an open source platform based on open source technology. It is not for sale. It is free.
    a.btn.jumbotron-button(href='/readmore') Read More
  div.container.marketing
    div.row.featurette
      div.col-md-7
        h2.featurette-heading.featurette-heading1 Unlocking digital controls
        p.lead.
          While standard systems for digital control have gravitated towards 
          levels of complexity that require more and more specialised expertise, 
          a revolution has been taking place. The capability of the Internet of 
          Things has moved from theory to reality.
        p.lead.
          This potential has been ignored by the controls community. Until now.
      div.col-md-5
        img.featurette-image.img-fluid.mx-auto(src="img/BakeoutStatus.png", alt="Vacuum bakeout status")
    hr.featurette-divider
    div.row.featurette
      div.col-md-7.order-md-2
        h2.featurette-heading.featurette-heading1 Standing on the shoulders of giants
        p.lead.
          Business models that depend on constant vendor interaction lead to systems 
          of poor quality. Blinky-Lite is 100% open source. The code is yours 
          to modify and optimise to your needs, and is accessible enough to 
          make this a reality.
      div.col-md-5
        img.featurette-image.img-fluid.mx-auto(src="img/WindowInterlockFlow.png", alt="Node-red flow for a window comparator")
    hr.featurette-divider
    div.row.featurette
      div.col-md-7
        h2.featurette-heading.featurette-heading1 Real-time controls without overwhelming the system
        p.lead.
          With mobile control an expectation of modern systems, real-time connections 
          are vital to maintaining the quality of the data for all users. While 
          such communications could overburden traditional control systems, the Blinky-Lite 
          architecture is immune from this.
      div.col-md-5
        img.featurette-image.img-fluid.mx-auto(src="img/readmore/mqtt.png", alt="Generic placeholder image")
