div.row.featurette
  div.col-md-12
    h2.featurette-heading.featurette-heading1 
      | Wireless Scale
div.row.featurette
  div.col-md-5
    img(src='/img/examples/gg-scale.jpg',width='100%') 
  div.col-md-4
    img(src='/img/examples/ScaleDisplay.png',width='100%') 
  div.col-md-3
    img(src='/img/examples/ScaleArchiver.png',width='100%') 
hr.featurette-divider
