div.row.featurette
  div.col-md-12
    h2.featurette-heading.featurette-heading1 
      | Vacuum Bakeout System
div.row.featurette
  div.col-md-4
    img(src='/img/examples/bakeoutSys.jpg',width='100%') 
  div.col-md-3
    img(src='/img/examples/bakeoutBox.jpg',width='100%') 
  div.col-md-2
    img(src='/img/examples/BakeoutGui1.png',width='100%') 
  div.col-md-3
    img(src='/img/examples/BakeoutGui2.png',width='100%') 
hr.featurette-divider
