div.row.featurette
  div.col-md-12
    h2.featurette-heading.featurette-heading1 
      | Wireless Power Monitor
div.row.featurette
  div.col-md-6
    img(src='/img/examples/powerCircuit.jpg',width='100%') 
  div.col-md-3
    img(src='/img/examples/PowerGui1.png',width='100%') 
  div.col-md-3
    img(src='/img/examples/PowerGui2.png',width='100%') 
hr.featurette-divider
