div.row.featurette
  div.col-md-12
    h2.featurette-heading.featurette-heading1 
      | Fast Interlock
div.row.featurette
  div.col-md-3
    img(src='/img/examples/windowInterlock.jpg',width='100%') 
  div.col-md-4
    img(src='/img/examples/WindowInterlockFlow.png',width='100%') 
  div.col-md-2
    img(src='/img/examples/WindowInterlockGui.png',width='100%') 
  div.col-md-3
    img(src='/img/examples/WindowComparatorNode.png',width='100%') 
hr.featurette-divider
