div.row.featurette
  div.col-md-12
    h2.featurette-heading.featurette-heading1 
      | Wireless Scale on an Industrial Scale
div.row.featurette
  div.col-md-6
    img(src='/img/examples/scaleIndustrialV1.png',width='100%') 
  div.col-md-6
    img(src='/img/examples/scaleIndustrialV2.png',width='100%') 
hr.featurette-divider
