div.row.featurette
  div.col-md-12
    h2.featurette-heading.featurette-heading1 
      | Blinky Cam
div.row.featurette
  div.col-md-3
    img(src='/img/examples/blinkyCam.jpg',width='100%') 
  div.col-md-3
    img(src='/img/examples/blinkyCamStills.png',width='100%') 
  div.col-md-3
    img(src='/img/examples/blinkyCamProps.png',width='100%') 
  div.col-md-3
    img(src='/img/examples/blinkCamImg.png',width='100%') 
hr.featurette-divider
