div.row.featurette
  div.col-md-12
    h2.featurette-heading.featurette-heading1 
      | Particle Accelerator Beam Stablization System
div.row.featurette
  div.col-md-4
    img(src='/img/examples/mode0Damper.jpg',width='100%') 
  div.col-md-4
    img(src='/img/examples/Mode0Code.png',width='100%') 
  div.col-md-4
    img(src='/img/examples/Mode0Gui.png',width='100%') 
hr.featurette-divider
